@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 4.375rem;
    overflow-x: hidden;
}

.meet-logo{
height: 1.875rem;
display: flex;
width: 7.4375rem;
margin: auto;
}

.logo-name{
    font-size: 1.875rem;
    text-align: center;
    font-weight: bolder;
    line-height: 1.75rem;
    color: #28283d;
}

.ovals{
width: 1.75rem;
height: 1.75rem;
height: 100%;
margin-right: 0.3rem;
}

.one{
margin-top: 0;
margin-left: 0.625rem;
background-color: #855fb1;
}

.two{
background-color: #4d96a9;

}

.oval{
    height: 0.875rem;
    width: 0.875rem;
    border-radius: 50%;

}

.first-section{
display: flex;
margin-bottom: 6.25rem;
width: 100vw;
overflow: hidden;
}

.first-section-image{
        width: 380px;
        
}

#left-image{
    margin-left: -2rem;
}

#right-image{
margin-right: 0;
padding-left: 0;
}

.info-links{
        width: 530px;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
}

.info-links p{
    color: #87879d;
}

h1{
    font-size: 4rem;
    font-family: 'Red Hat Display', sans-serif;
    color: #28283d;

}

.link-btns{
    margin-top: 3.125rem;
    
}

button{
border-radius: 6.25rem;
border: 0;
width: 12rem;
height: 3.625rem;
color: #ffffff;
font-size: 1rem;
font-weight: 900;
line-height: 1.625rem;
}

.download-btn{
background-color: #4d96a9;
margin-right: 0.625rem;
}

.download-btn:hover{
    background-color: #8FE3F9;
}

span{
    color: #8FE3F9;;
}

.info-btn{
    width: 8.68rem;
    background-color: #855fb1;
}

.info-btn:hover{
    background-color: #D9B8FF;
}

.section-number{
    height: 8.75rem;
    width: 3.5rem;
    margin: auto;
    position: relative;
    z-index: 1;
}

.line{
    height: 5.06rem;
    border-left: 1px solid #87879d;
    width: 0;
    margin: auto;
}

.number{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid #87879d;
    text-align: center;
    line-height: 3.5rem;
    background-color: white;
}

.second-section{
    display: flex;
    width: 69.375rem;
    height: 15rem;
    justify-content: space-between;
    margin: auto;
}

.second-section img{
    height: 100%;
    width: 15.6rem;
    border-radius: 0.625rem;
}

.about-meet{
    width: 31.25rem;
    height: 15rem;
    margin: auto;
    text-align: center;
    margin-bottom: 9.375rem;
}

.overline{
color: #4d96a9;
font-size: 1.25rem;
letter-spacing: 0.25rem;
}

.about-meet p{
    padding: 0 0.625rem;
    font-size: 1.125rem;
}

h2{
font-size: 2.75rem;
}

.footer{
    margin-top: -1.75rem;
    color: white;
    background-image: url("./assets/desktop/image-footer.jpg");
    background-size: cover;
    height: 19.25rem;
    width: 100vw;
}

.image-overlay{
    height: 100%;    
background-color: rgba(77, 150, 168, 0.9);
display: flex;
align-items: center;
padding-left: 4rem;

}

.overlay-text-1{
    font-size: 2.75rem;
    width: 25rem;
    font-weight: 650;
    margin-right: 3.125rem;
}

.overlay-text-2 {
    font-size: 1.25rem;
    width: 23.75rem;
    margin-right: 5rem;
}

.overlay-btn .download-btn{
    background-color: #855fb1;
} 

.overlay-btn .download-btn span{
    color: #D9B8FF;
}

.overlay-btn .download-btn:hover{
    background-color: #D9B8FF;
}


@media screen and (max-width: 48rem) {
    body{
        width: 48rem;
    }
    
    .info-links{
        position: absolute;
        width: 28.7rem;
            height: 16.375rem;
            margin-top: 20rem;
            margin-left: 7.68rem;
    }

    .first-section {
margin-top: 5rem;
width: 48rem;
}

#right-image{
margin-left: 1rem;
}

#one{
margin-top: 35rem;
}

.second-section{
width: 43rem;
height: 9.75rem;
}

.second-section img{
width: 10.25rem;
height: 9.75rem;
}

.footer{
background-image: url("./assets/desktop/image-footer.jpg");
background-size: cover;
background-position: center;
height: 26.75rem;
}

.image-overlay{
flex-direction: column;
justify-content: space-around;
}                    

    
.overlay-text-1{
width: 28.56rem;
height: 5.5rem;
text-align: center;
}

.overlay-text-2{
width: 35.8rem;
height: 3.25rem;
text-align: center; 
font-size: 1.1rem;    
margin-top: -4rem;  
}

.overlay-btn{
width: 12.06rem;
height: 3.6rem;
margin-right: 5rem;
margin-top: -5rem;
}
}

@media screen and (max-width: 23.43rem){
body{
width: 23.43rem;
}


.first-section{
width: 100%;
padding: 0;
margin-top: 3.375rem;
}

.first-section-image{
width: 12.43rem;
height: 9.56rem;   
padding-right: 0;
}

.first-section img{
width: 12.43rem;
margin: 0;
height: 9.56rem;
}

#left-image{
margin-left: -1.25rem;
}

#right-image{
margin: 0;
padding-left: 0.9rem;
}

.info-links{
    width: 100%;
    height: 22.5rem;
    text-align: center;
    margin-top: 12.5rem;
    margin-left: -1px;
    padding: 0;
    padding-top: 0;
}

.info-links h1{
    font-size: 2.75rem;
    line-height: 2.75rem;
    text-align: center;
    margin-top: 0;
}

.link-btns{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
height: 9.375rem;
margin-top: 0;
}

#one{
margin-top: 31.25rem;    
}

.second-section{
width: 20.43rem;
height: 19.5rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.second-section-image #scnd-sct-img-2{
margin: 0;
}

.second-section img{
width: 9.43rem;
height: 8.9rem;
}

#scnd-sct-img-1, 
#scnd-sct-img-1{
margin-bottom: 1.5rem;
height: 9.43rem
}

.about-meet{
width: 20.43rem;
height: 17.75rem;
margin-bottom: 4rem;
}

.overline{ 
font-size: 1rem; 
margin-top: 0; 
height: 1.6rem;
line-height: 1.6rem;
}

.about-meet h2{
height: 4.5rem;
font-size: 2rem;
line-height: 2.25rem;
}

.about-meet p{
font-size: 1rem;
height: 8.125rem;
line-height: 1.625rem;
}

#two{
margin-bottom: 0;
}

.footer{
width: 100%;
height: 26.75rem;
padding: 0;
padding-bottom: 0;
background-image: url('./assets/mobile/image-footer.jpg');
background-size: cover;
background-position: center;
}

.image-overlay{
height: 26.75rem;
display: flex;
flex-direction: column;
align-items: center;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
}

.overlay-text-1{
width: 20.43rem;
height: 4.5rem;   
font-size: 2rem;
line-height: 2.25rem;
margin: 0;
margin-top: 4.68rem;
}

.overlay-text-2{
width: 20.43rem;
height: 4.8rem;
line-height: 1.625rem;
margin: 0;
}

.overlay-btn{
margin: 0;
margin-bottom: 2.81rem;
}
}